body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #fff;
    background-image: url(https://img-cdn.pixlr.com/image-generator/history/674175912becefb420c9dc1b/9f9ebae5-e515-4033-8ca7-17c7f197f219/preview.webp);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #ffcc00;
}
/* მას .hero კოდი იუთუბში ვნახე და გამოვიყენე და იმედია პრობლემა არ იქნება */
.hero {
    text-align: center;
    padding: 150px 20px;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px #000;
}

.hero p {
    font-size: 1.5rem;
    text-shadow: 1px 1px 3px #000;
}

footer {
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
